---
title: SPICE - Media and Press
permalink: /press/
layout: default
---

    <main>

      <!-- Slider Area Start-->
      <div class="services-area">
        <div class="container">

            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        <span>Our leaflet, poster and presentation</span>
                        <h2>Media and Press</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End-->


    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
            <div class="col-8">
               <!--<h2 class="contact-title">2021</h2>
               {% for deliverable in site.deliverables %}
               {%if deliverable.year == 2021 %}
               <p><a href="{{ deliverable.delivpath }}">{{ deliverable.delivcode}} - {{deliverable.title }}</a></p></br>
               {% endif %}
               {% endfor %}-->
               <h2 class="contact-title">2020</h2>
               {% for press in site.press %}
               {%if press.year == 2020 %}
               <p><a href="{{ press.presspath }}">{{ press.title }}</a></p></br>
               {% endif %}
               {% endfor %}
           </div>
             <div class="col-lg-4">
                {%include sidebar.html %}
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->


         <!-- have-project Start-->
        <!-- have-project End -->

    </main>